@import url('../../node_modules/bootstrap-icons/font/bootstrap-icons.css');
/*--------------------------------------------------------------
# Set main reusable colors and fonts using CSS variables
# Learn more about CSS variables at https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
--------------------------------------------------------------*/
/* Fonts */
:root {
    --font-default:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    --font-primary: "Inter", sans-serif;
    --font-secondary: 'Montserrat', sans-serif;

}

/* Colors */
:root {
    --color-default: #08012a;
    --color-primary: #72c2b2;
    --color-secondary: #04042f;
    --background-main: #e8f7fe;
    --background-secondary: #4672a6;
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html, body {
    height: 100%;
    font-family: var(--font-default);
    color: var(--color-default);
    background-color: var(--background-main);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}
.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.loading-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
.section-header {
    padding-bottom: 40px;
}

.section-header h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-family: var(--font-primary);
}

.section-header h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #5bd9a9;
    margin: 4px 10px;
}

.section-header p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: var(--font-default);
    color: #dadada;
}

/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/


.page-header {
    margin-top: 60px;
    padding: 20px 0;
    background-color: var(--background-main);
    position: relative;
}

.page-header h1 {
    margin-bottom: 15px;
    font-size: 34px;
    font-weight: 700;
    color: var(--color-secondary);
    font-family: var(--font-default);
}

@media (max-width: 768px) {
    .page-header h1 {
        text-align: center;
        font-size: 26px;
    }
}

.page-header p {
    color: var(--color-default);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    position: fixed;
    transition: all 0.5s ease 0s;
    min-height: 60px;
    z-index: 997;
    border-bottom:1px solid rgba(29, 31, 32, 0.1);
}


.header .logo img {
    max-height: 40px;
    margin-right: 8px;
}

.navbar-links {
    padding: 0 20px;
   justify-content: flex-end;

}
.navbar-links a,
.navbar-links a:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 30px;
    font-family: var(--font-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    transition:all 0.3s ease 0s;
}


/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
.slider {
    position: fixed;
    top:60px;
    left: 0;
    padding: 0px 0px;
    width: 100vw;

}
.slider img{
    width: 100vw;
    height: calc(100vh - 120px) !important;
    object-fit: cover;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 30vh;
    left: 0;
    text-shadow:0px 0px 3px black;
    box-shadow:inset 0px 0px 50px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}

.hero h2 {
    padding: 10px 0;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--font-default);
}

.hero h2 span {
    position: relative;
    z-index: 1;
    padding: 0 5px;
    display: inline-block;
}

.hero h2 span:before {
    content: "";
    position: absolute;
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-primary);
    z-index: -1;
}

.hero p {
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 18px;
}

/*--------------------------------------------------------------
# Delivery section
--------------------------------------------------------------*/
.delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delivery .nav-link,
.hero .nav-link {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-shadow:none;
    letter-spacing: 181%;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #0d6efd;
}
.delivery .nav-link:hover,
.hero .nav-link:hover {
    background-color: #0b55c4;
}
.nav-link{
    position: relative;
}
.nav-link span {
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: -5px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 12px;
}
.nav-link span::before {
    content: '';
    }
/*--------------------------------------------------------------
# Product Item section
--------------------------------------------------------------*/
.item-image {
    max-height: 400px;
    object-fit: cover;
    border-radius: 3px 3px 0px 0px;
}

/*--------------------------------------------------------------
# Product section
--------------------------------------------------------------*/
.go-back-link {
    display: none;
    cursor: pointer;
    padding: 5px 15px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
    text-shadow:none;
    letter-spacing: 181%;
    border-radius: 5px;
    background-color: #0d6efd;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer{
    border-top:1px solid rgba(29, 31, 32, 0.1);
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.footer-social-links {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 15px;
}

.footer .footer-social-links a {
    color: var(--color-default);
    padding-left: 15px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    font-size: 16px;
}

.footer .footer-social-links a:hover {
    color: var(--color-primary);
}




@media (max-width: 768px) {
    .hero h2 {
        font-size: 32px;
    }
    .go-back-link {
        display: inline-block;
    }

}






/*--------------------------------------------------------------
# Animation React-transition-group
--------------------------------------------------------------*/
.fadeIn {
    flex: 1 1 auto;
    animation: 0.4s fadeIn forwards;
}

.fadeOut {
    flex: 1 1 auto;
    animation: 0.4s fadeOut forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
       /* transform: translate(0px, -10px);*/
    }
    to {
        opacity: 1;
        /*transform: translate(0px, 0px);*/
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        /*transform: translate(0px, 0px);*/
    }
    to {
        /*transform: translate(0px, 10px);*/
        opacity: 0;
    }
}

